:root
  --surface_br: 7px
  --primary: #1C8EDB
  --onPrimary: #fff
@media (prefers-color-scheme: dark) 
  :root
    --bg: #151d25
    --surface:#41474d94
    --color: #fff


@media (prefers-color-scheme: light) 
  :root 
    --bg: #fff
    --color: #222
    --surface: #999


html
    background-color: var(--bg)
.App 
    color: var(--color)